@import 'tailwindcss';

:root{
  --primary: #EEF5FF;
  --secondary: #176B87;
  --light:#B4D4FF;
  --dark:#86B6F6;
}

@theme{
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-dark: var(--dark);
  --color-light: var(--light);
}

.container-1{
 @apply max-w-7xl mx-auto px-4;
}

#main-image{
  @apply w-full h-screen bg-cover bg-center;
  background-image: url('/public/main-img.png');
}